* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

body {
    padding: 0;
    margin: 0
}
.main{
    font-size: 4cm;
    font-weight: 500;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
}
#notfound {
    position: relative;
    height: 100vh
}

 .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-image: url(https://as1.ftcdn.net/v2/jpg/02/30/26/76/1000_F_230267658_3a4SsjFjMOcqF5SmfLLeGJeoHYwDbKnU.jpg);    
    background-repeat: no-repeat;
    background-size: cover;

}

.notfound {
    max-width: 767px;
    width: 100%;
    line-height: 1.4;
    padding: 0 15px
}

.notfound .notfound-404 {
    position: relative;
    height: 150px;
    line-height: 150px;
    margin-bottom: 25px
}



.notfound h2 {
    font-family: titillium web, sans-serif;
    font-size: 26px;
    font-weight: 700;
    margin: 0
}



