* {
    box-sizing: border-box;
  }
  
  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 50%;
    padding: 10px;
    overflow-y: scroll;
    height : 550px;

  }

  /*Question heading*/
  .QuestionName{
      text-align: left;
      margin-top: 0.8cm;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: large;
      font-weight: 500;
  }

  /*buttons*/
  .buttonbox{
      max-height: fit-content;
      margin-bottom: 1cm;
      padding-bottom: 1cm;

  }
  .button0{
    background-color: rgb(255, 255, 255);
    color: #000000;
    font-size: large;
    margin-top: 5px;
    float: left;
    margin-bottom: 5px;
    margin-left: 6px;
    
}
  .button1{
    background-color: rgb(255, 255, 255);
    color: #000000;
    font-size: large;
    margin-top: 5px;
    float: right;
    margin-bottom: 5px;
    margin-right: 6px;
}
.button2{
    background-color: rgb(0, 113, 8);
    color: #fffdfd;
    font-size: large;
    margin-top: 5px;
    float: right;
    margin-bottom: 5px;
    margin-right: 6px;
}
