/*Navbar*/
.navbar {
    background-color: black;
    color: rgb(255, 255, 255);
    height: 1cm;
    text-align: center;
    font-family: sans-serif;
    font-size: large;
    font-weight: 400;
    font-size: larger;
}

.title {
    text-align: center;
    padding-top: 0.5%;
}


/*Signup box*/
.SignUp {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background-color: #f8f9fd;
  
    
}
.form-heading{
  
    margin-bottom: 1cm;
    font-weight: 700;
    font-size: 0.9cm;
}
.form {
    background-color: white;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 18%;
}

.input-container {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
}
/*signup button*/
.button-container {
    display: flex;
    justify-content: center;
    
  }
  .button{
      background-color: rgb(0, 0, 0);
      color: #f8f9fd;
      font-size: large;
      margin-top: 1cm;
  }